@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0 0;
  padding: 0;
}
h1 {
  letter-spacing: 0.4em;
  font-weight: 300;
}
.wrapper {
  margin: 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons-timer {
  position: relative;
  margin-bottom: 2.5%;
}
.time-speed {
  /* background-color: #002a35; */
  background-color: rgba(185, 214, 255, 0.284);
  padding: 5px 10px;
  border-radius: 20px;
  z-index: -1;
  top: 60px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90.69%;
  height: 50px;
  font-size: 0.9em;
}
.time-speed p {
  align-self: self-end;
  margin: 0;
}
.options {
  background-color: rgb(20, 22, 24);

  border-radius: 20px;
  padding: 10px 30px;
  font-size: 1.2em;
}
.options p {
  margin: 0;
  text-align: center;
}
.buttons-time {
  display: flex;
  gap: 30px;
}
.buttons-time span {
  border: 1px solid #090909;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}
.buttons-time .selected {
  /* color: rgb(118, 173, 255); */
  /* background-color: #002a35; */
  background-color: rgba(185, 214, 255, 0.284);
}
.middle {
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: rgb(12, 12, 15); */
  background-color: rgb(20, 22, 24);
  /* background-color: rgb(4, 5, 7); */

  /* background-color: rgb(10, 11, 11); */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.727);
  padding: 2% 2%;
}
.words {
  margin-top: 0;
  user-select: none;
  word-spacing: 0.5em;
  font-weight: 300;
  font-size: 1.5em;
  color: rgb(90, 90, 90);
}
.correct {
  font-weight: bold;
  color: rgb(118, 173, 255);
  font-weight: 300;
  filter: drop-shadow(0px 6px 10px #253e43);
  transition: 0.2s;
}
.incorrect {
  font-weight: bold;
  color: rgb(132, 50, 50);
  font-weight: 300;
  filter: drop-shadow(1px 6px 10px #480f0f);
  transition: 0.2s;
}
.active {
  color: rgb(255, 255, 255);
  font-weight: 300;
  filter: drop-shadow(1px 6px 10px #525252);
}
.input {
  font-family: Poppins;
  width: 100%;
  border: none;
  font-size: 1.4em;
  border-radius: 8px;
  caret-color: rgb(149, 218, 255);
  caret-shape: block;
  font-weight: 400;
  color: rgba(236, 236, 236, 0.386);
  background-color: #3536362f;
  padding: 0 0.5%;
}
.input:focus {
  outline: none;
  border: none;
}

.fa-rotate-right {
  margin: 0 1% 1% 0%;
  align-self: end;
  font-size: 1.5em;
  cursor: pointer;
  rotate: 35deg;
}
